h1 {
  margin-top: 0px;
  background-color: lightgrey;
  padding: 50px;
  text-align: center
}

.container {
  margin: 10px;
}

button {
  padding: 10px 30px 10px 30px;
  font-size: 30px;
  display:
}

input {
  padding: 10px 30px 10px 30px;
  font-size: 30px;
}